.profile{
    color: white;
    max-width: 410px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .profile {
        max-width: calc(260px + (410 - 260) * ((100vw - 320px) / (768 - 320)))
    }
}
@media screen and (max-width: 320px) {
    .profile {
        max-width: 260px;
    }
}
.profile__header{
    font-family: "Inter", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 75px 0px;
    color: white;
    text-align: center;
}
@media screen and (max-width: 1280px) {
    .profile__header {
        margin-top: calc(237px + (75 - 237) * ((100vw - 768px) / (1280 - 768)));
    }
}
@media screen and (max-width: 768px) {
    .profile__header {
        margin-top: calc(70px + (237 - 70) * ((100vw - 320px) / (768 - 320)));
        margin-bottom: calc(63px + (75 - 63) * ((100vw - 320px) / (768 - 320)))
    }
}
@media screen and (max-width: 320px) {
    .profile__header {
        margin-top: 70px;
        margin-bottom: 63px;
    }
}
.profile__form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 106px;
}
@media screen and (max-width: 1280px) {
    .profile__form {
        margin-top: calc(78px + (106 - 78) * ((100vw - 768px) / (1280 - 768)));
    }
}
@media screen and (max-width: 768px) {
    .profile__form {
        margin-top: calc(0px + (78 - 0) * ((100vw - 320px) / (768 - 320)))
    }
}
@media screen and (max-width: 320px) {
    .profile__form {
        margin-top: 0px;
    }
}
.profile__form-name{
    font-family: "Inter", "Arial", sans-serif;
    color: white;
    font-size: 11px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #424242;
    padding-bottom: 16px;
    margin-top: 19px;
}
.profile__form-name:last-of-type{
    border-bottom: none;
}
.profile__input{
    font-family: "Inter", "Arial", sans-serif;
    font-size: 11px;
    font-weight: 400;
    background: none;
    color: white;
    border: none;
    text-align: right;
    padding: 0;
}
.profile__input:focus{
    outline: 1px solid #666;
    background-color: #3d3d3d;
    border-radius: 3px;
}
.profile__signout{
    font-family: "Inter", "Arial", sans-serif;
    text-decoration: none;
    color: #EE3465;
    font-size: 13px;
    font-weight: 500;
    align-self: center;
    margin-top: 15px;
}
.profile__signout:hover{
    opacity: 0.7;
}
@media screen and (max-width: 320px) {
    .profile__signout {
        font-size: 12px;
    }
}
.profile__link{
    width: 100%;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #202020;
    max-width: max-content;
    padding: 0;
    align-self: center;
    margin-top: 205px;
}
.profile__link:hover{
    opacity: 0.8;
}
@media screen and (max-width: 1280px) {
    .profile__link {
        margin-top: calc(196px + (205 - 196) * ((100vw - 768px) / (1280 - 768)));
    }
}
@media screen and (max-width: 768px) {
    .profile__link {
        margin-top: calc(365px + (196 - 365) * ((100vw - 320px) / (768 - 320)));
    }
}
@media screen and (max-width: 320px) {
    .profile__link {
        font-size: 12px;
        margin-top: 365px;
    }
}
.profile__edit{
    background-color: #3456F3;
    color: white;
    height: 45px;
    border: none;
    border-radius: 3px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}
.profile__edit_disabled{
    background-color: #F8F8F8;
    color: #C2C2C2;
}
.profile__edit:hover{
    opacity: 0.8;
    cursor: pointer;
}
.profile__edit-error{
    color: #FF004C;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    margin-top: 189px;
    height: 14px;
}