.elements__more-hidden{
    visibility: hidden;
    margin-bottom: 210px;
}
@media screen and (max-width: 1280px) {
    .elements__more-hidden {
        margin-bottom: calc(160px + (210 - 160) * ((100vw - 768px) / (1280 - 768)))
    }
}
@media screen and (max-width: 768px) {
    .elements__more-hidden {
        margin-bottom: calc(136px + (160 - 136) * ((100vw - 320px) / (768 - 320)))
    }
}
@media screen and (max-width: 320px) {
    .elements__more-hidden {
        margin-bottom: 136px;
    }
}
.elements__films-no{
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}