.search-form__short-films{
    display: flex;
    justify-content: center;
    margin-top: 28px;
}
.search-form__short-films-label{
    width: 36px; 
    height: 20px; 
    display: block;
    position: relative;
}
.search-form__short-films-input{
    margin: 0px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;
    margin-left: 12px;
    margin-top: 3px;
}
.search-form__checkbox{
    visibility: hidden;
}
.search-form__checkbox + span {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: url("../../images/smalltumboff.svg") no-repeat; 
    cursor: pointer;
}
.search-form__checkbox:checked + span  	{
    background: url("../../images/tumbler-on.svg") no-repeat;
   }