.register{
    color: white;
    max-width: 396px;
    margin: 0 auto;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .register {
        max-width: calc(260px + (396 - 260) * ((100vw - 320px) / (768 - 320)));
    }
}
@media screen and (max-width: 320px) {
    .register {
        max-width: 260px;
    }
}

.register__logo{
    background-image: url("../../images/logo.svg");
    display: flex;
    height: 38px;
    margin: 0 auto;
    margin-top: 70px;
    background-repeat: no-repeat;
}
.register__logo:hover{
    opacity: 0.8;
}
@media screen and (max-width: 1280px) {
    .register__logo {
        margin-top: calc(231px + (70 - 231) * ((100vw - 768px) / (1280 - 768)));
    }
}
@media screen and (max-width: 768px) {
    .register__logo {
        margin-top: calc(55px + (231 - 55) * ((100vw - 320px) / (768 - 320)));
    }
}
@media screen and (max-width: 320px) {
    .register__logo {
        margin-top: 55px;
        background-position: center;
    }
}
.register__header{
    font-family: "Inter", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 41px 0px;
    color: white;
}
@media screen and (max-width: 320px) {
    .register__header {
        text-align: center;
        margin: 52px 0px;
        margin-bottom: 82px;
    }
}
.register__form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.register__form-name{
    font-family: "Inter", "Arial", sans-serif;
    color: #8B8B8B;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
.register__input{
    margin-bottom: 30px;
    background-color: #2F2F2F;
    color: white;
    border: none;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0 8px;
}
.register__span{
    color: rgb(241, 54, 54);
    font-family: "Inter", "Arial", sans-serif;
    font-size: 9px;
    height: 12px;
}
.register__fail{
    font-family: "Inter", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 400;
    max-width: 300px;
    color: white;
    align-self: center;
    background-color: #303030;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}
.register__close{
    background-image: url(../../images/CloseIcon.svg);
    max-width: 32px;
    width: 100%;
    max-height: 32px;
    height: 100%;
    background-color: rgb(0,0,0,0.0);
    border: none;
    cursor: pointer;
    align-self: center;
    max-width: 300px;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: -40px;
}
.register__close:hover{
    opacity: 0.7;
}
@media screen and (max-width: 1280px) {
    .register__close {
        margin-right: calc(0px + (-40 - 0) * ((100vw - 320px) / (1280 - 320)));
    }
}
@media screen and (max-width: 320px) {
    .register__close {
        margin-right:0;
    }
}
.register__container{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    background-color: rgb(0,0,0,0.2);
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
}
@media screen and (max-width: 500px) {
    .register__span {
        font-size: calc(7px + (9 - 7) * ((100vw - 320px) / (500 - 320)));
    }
}
@media screen and (max-width: 320px) {
    .register__span {
        font-size: 7px;
    }
}

.register__span-hidden{
    visibility: hidden;
}
.register__input:focus{    
    outline: 1px solid #666;
    background-color: #3d3d3d;
}
.register__button-container{
    margin-top: 71px;
}
@media screen and (max-width: 320px) {
    .register__button-container {
        margin-top: 160px;
    }
}
.register__signin-container {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
@media screen and (max-width: 320px) {
    .register__signin-container {
        font-size: 12px;
    }
}
.register__signin{
    text-decoration: none;
    color: #4285F4;
}
.register__signin:hover{
    opacity: 0.7;
}
.register__link{
    width: 100%;
    height: 45px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;
    background-color: #4285F4;
    border: none;
    color: white;
}
.register__link_disabled{
    background-color: #8B8B8B;
}
.register__link:hover{
    opacity: 0.8;
}
@media screen and (max-width: 320px) {
    .register__link {
        font-size: 12px;
    }
}
.register__signin-button{
    color: #8B8B8B;
    margin-top: 18px;
}
@media screen and (max-width: 320px) {
    .register__signin-button {
        margin-top: 14px;
    }
}
