.footer{
    margin: 0 auto;
    margin-top: 79px;
}
@media screen and (max-width: 320px) {
    .footer {
        margin-top: 133px;
    }
}
.footer__paragraph{
    font-family: "Inter", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #8B8B8B;
    text-align: center;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 320px) {
    .footer__paragraph {
        font-size: 12px;
    }
}
@media screen and (max-width: 320px) {
    .footer__links {
        display: flex;
        flex-direction: column;
    }
}
.footer__links-nav{
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 0;
    flex-direction: row;
}
@media screen and (max-width: 320px) {
    .footer__links-nav{
    flex-direction: column;
}
}
.footer__link{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.footer__link:last-child(){
    margin-right: 0px;
}
.footer__link:hover{
    opacity: 0.7;
}
@media screen and (max-width: 320px) {
    .footer__link {
        margin-right: 0px;
        align-self: center;
        margin-top: 12px;
        margin-left: 0;
    }
}
.footer__info{
    display: flex;
    margin: 20px 70px;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    justify-content: space-between;
    border-top: solid 1px #424242;
    padding-top: 20px;
}
@media screen and (max-width: 1280px) {
    .footer__info {
        margin: 20px calc(30px + (70 - 30) * ((100vw - 768px) / (1280 - 768)));
    }
}
@media screen and (max-width: 768px) {
    .footer__info {
        margin: 20px 30px;
    }
}
@media screen and (max-width: 320px) {
    .footer__info {
        flex-direction: column-reverse;
        text-align: center;
        font-size: 12px;
        padding-top: 31px;
        margin: 20px 14px;
    }
}
.footer__copyright{
    margin: 0px;
}
@media screen and (max-width: 320px) {
    .footer__copyright {
        margin-top: 20px;
    }
}
@media screen and (max-width: 320px) {
    .footer__link-git{
    margin-top: 14px;
}
}
@media screen and (max-width: 320px) {
    .footer__link-yandex{
}
}